<html>
    <body>
        <br/>
        <p style="text-align: center">Você aprova permissão?</p>
        <br/>

        <p style="text-align: center">
            <a href="#">Negar</a>
            <span style="margin: 10"/>
            <a href="{{ .callBack }}#access_token={{ .accessToken }}">Autorizar</a>
        </p>
    </body>
</html>